h1{ color: black}
p {
  font-family: "Lucida Console", Lucida, Monospace;
}
h1 {
  text-shadow: 1px 1px;
}
img {border-radius: 150px


}
h1 {border-style: dashed; border-radius: 80px}
body {px;
  color: salmon;
}