h1{ color: black}
p {
  font-family: "Lucida Console", Lucida, Monospace;
}
h1 {
  text-shadow: 1px 1px;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 500px;
}
h1 {border-style: dashed; border-radius: 80px}
body {
  color: salmon;
}